<h1>New User Page</h1>

<%= simple_form_for @hunter do |f| %>
  <%= f.input :hunter_name, label: 'Please enter a username' %>
  <%= f.input :password, label: 'Password' %>
  <%= f.submit "Create Account" %>
<% end %>
