<h1>New User Page</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :username, label: 'Please enter a username' %>
  <%= f.input :password, label: 'Password' %>
  <%= f.submit "Create Account" %>
<% end %>
