<div class="content-container">
  <div class="score-header">
    <h2>scores</h2>
    <hr class="hr-80">
  </div>

  <table class="score-table">
    <tr>
      <th>Name</th>
      <th>Current Score</th>
    </tr>
    <% @hunters.each do |hunt| %>
      <tr>
        <td class="team-name"><%= hunt.hunter_name %></td>
        <td class="team-score"><%= score(hunt) %></td>
      </tr>
    <% end %>
  </table>
  </div>

  <div class="card card-back-inner">
    <div class="ltf-text-clue">
     <% link_to 'clues', clues_path %>
    </div>
  </div>
