<h2 class="hunter-title">Hunters Scoreboard</h2>
<p>Hunters will be listed here</p>

<table>
    <tr>
        <th>Hunter ID</th>
        <th>Name</th>
        <th>Current Score</th>
    </tr>
    <% @hunters.each do |hunt| %>
        <tr>
            <td><%= hunt.id %></td>
            <td><%= hunt.hunter_name %></td>
            <td><%= hunt.hunter_points %></td>
        </tr>
        <% end %>
</table>