<div class="content-container">
  <div class="score-header">
    <h2>scores</h2>
    <hr class="hr-80">
  </div>

  <table class="score-table">
    <tr>
      <th>Name</th>
      <th>Current Score</th>
    </tr>
    <% @hunters.each do |hunt| %>
      <tr>
        <td class="team-name"><%= hunt.hunter_name %></td>
        <td class="team-score"><%= score(hunt) %></td>
      </tr>
    <% end %>
  </table>
</div>

  <div class="egg-btn-lrg rtl-lrg pastel-red">
    <%= link_to clues_path do %>
        <p class="ltr-text-b2clue">clues</p>
    <% end %>
</div>
    