<div class="page-container">
<div class="main-score-grid">
  <div class="score-header">
    <h1>PLACEHOLDERS</h1>
    <h2>scores</h2>
  </div>
  <div class="top-score">Top Score: </div>
  <div class="bottom-score">Bottom Score: </div>
  <div class="team-name">Team 1</div>
  <div class="team-name">Team 2</div>
  <div class="team-name">Team 3</div>
  <div class="team-name">Team 4</div>
  <div class="team-name">Team 5</div>
  <div class="team-name">Team 6</div>
  <div class="team-name">Team 7</div>
  <div class="team-name">Team 8</div>

</div>
</div>

<!--
    <div class="score-grid">

        <table class="scores-table">
            <tr>
                <th class="score-id">Name</th>
                <th class="score-text">Current Score</th>
            </tr>
             if  
                render 'hunter/hunter_rows'
            <else  -
            <tr>
                <td class="score-id">hunter_name_1</td>
                <td class="score-text">hunter_score_1</td>
            </tr>
            <tr>
                <td class="score-id">hunter_name_2</td>
                <td class="score-text">hunter_score_2</td>
            </tr>
            <tr>
                <td class="score-id">hunter_name_3</td>
                <td class="score-text">hunter_score_3</td>
            </tr>
             end  

        </table>

    </div>

</div>

-->


<!--
<div class="scores-table">
    <h2 class="hunter-title">Hunters Scoreboard</h2>
    <p>Hunters will be listed here</p>

    <table>
        <tr>
            <th>Name</th>
            <th>Current Score</th>
        </tr>
        <% @hunters.each do |hunt| %>
            <tr>
                <td><%= hunt.hunter_name %></td>
                <td><%= score(hunt) %></td>
            </tr>
            <% end %>
    </table>
</div>
-->
