<div class="content-container">
  <div class="score-header">
    <h2>And the winner is</h2>
    <hr class="hr-80">
  </div>  
  <% winner = pick_random_winner(@hunters) %>

  <h3><%= winner %><h3>
</div>
</div>