<h1>Scoreboard</h1>

<table>
  <tr><th>Hunter ID</th><th>Name</th><th>Current Score:</th></tr>
  <% @hunters.each do |hunt| %>
    <tr>
       <td><%= hunt.id %></td>
       <td><%= hunt.hunter_name %></td>
       <td><%= hunt.hunter_uuid %></td>
       <td><%= hunt.hunter_score %></td>
    </tr>
  <% end %>
</table>
