<div class="page-container">
  <h2 class="Hunter-title">Welcome Hunter! </h2>
  <div class="hunter-container-outer">
    <div class="hunter-container-inner">
      <h1><%= @hunter.hunter_name %></h1>
      <% if @hunter.ghosts.count == 0%>
        <h2>Looks like you haven't captured any ghosts</h2>
      <% else %>
        <h2> Well done! you have captured the following ghosts </h2>
        <table>
          <th>Ghost name</th><th>points</th>
          <% @hunter.ghosts.each do |g|%>  
            <tr>
              <td><%= g.title%></td>
              <td>10</td>
            </tr>
        <% end %>
      <% end %>
        </table>
        <h2>total points <%= score(@hunter) %></h2>
    </div>
  </div>
</div>
