<div class="spooky-header">
  <h1>Welcome Hunters! </h1>
  <img scr="assets/images/ghost1.png">
</div>

<div class="spooky-text-orange"> 
  <p>
    Spooooo-ooky IpsumBoo trick-or-treat haunted scare haunted cauldron skeleton. Black cat cauldron werewolf cauldron haunted chainsaw monster.
    Scare haunted haunted witch jack-o-lantern candy spooky. Haunted werewolf cauldron afraid boo vampire scare. Pumpkin spooky chainsaw pumpkin jack-o-lantern boo pumpkin.
    Pumpkin boo haunted pumpkin vampire mummy vampire. Black cat boo abomination pumpkin witch vampire candy. 
    Mummy jack-o-lantern cauldron trick-or-treat jack-o-lantern drive-in vampire. Chainsaw nightmare vampire candy black cat cauldron abomination. Candy cauldron spooky spooky monster vampire vampire.
    Candy vampire spooky boo mummy abomination chainsaw. Drive-in blood jack-o-lantern monster cauldron cauldron nightmare.
    Cauldron black cat mummy boo monster candy mummy. Spooky boo chainsaw afraid nightmare candy trick-or-treat. 
    Abomination werewolf abomination witch spooky mummy monster. 
  </p>
</div>


<div class="spooky-text-green"> 
  <p>
    Spooooo-ooky IpsumBoo trick-or-treat haunted scare haunted cauldron skeleton. Black cat cauldron werewolf cauldron haunted chainsaw monster.
    Scare haunted haunted witch jack-o-lantern candy spooky. Haunted werewolf cauldron afraid boo vampire scare. Pumpkin spooky chainsaw pumpkin jack-o-lantern boo pumpkin.
    Pumpkin boo haunted pumpkin vampire mummy vampire. Black cat boo abomination pumpkin witch vampire candy. 
    Mummy jack-o-lantern cauldron trick-or-treat jack-o-lantern drive-in vampire. Chainsaw nightmare vampire candy black cat cauldron abomination. Candy cauldron spooky spooky monster vampire vampire.
    Candy vampire spooky boo mummy abomination chainsaw. Drive-in blood jack-o-lantern monster cauldron cauldron nightmare.
    Cauldron black cat mummy boo monster candy mummy. Spooky boo chainsaw afraid nightmare candy trick-or-treat. 
    Abomination werewolf abomination witch spooky mummy monster. 
  </p>
</div>


<%= button_to 'Register', root_url + '/register' , method: :get %>
<%= button_to 'Login', root_url + '/login' , method: :get %>

</div>
