

  <div class="hunter-header">
  <h1></h1>
  </div>
  <div class="hunter-content col-xl-3">
    <h2> On the night before Christmas </h2>
    <p>
 Santa's reindeer went missing! Without them, Santa won't be able to deliver presents to all the good boys and girls. Can you help Santa and his trusty Elf helper, Lee, find the missing reindeer in time for Christmas?

Join the search by tracking down the mischievous reindeer in Leigh Spinners, a factory in the North of England. Use your keen eyes and quick thinking to find the reindeer and bring them back to Santa.

Don't worry, the factory workers at Leigh Spinners will be there to help you along the way. And if you're successful, Santa will be forever grateful and you'll be able to celebrate a very merry Christmas indeed!

Join the challenge and see if you can help Santa and Lee find the missing reindeer in time for Christmas!
    </p>
  </div>
