<div class="spooky-header">
  <%= image_tag "banner.jpg", class: 'image-banner' %>
</div>

  <div class="spooky-text" id="orange"> 
    <p>
      These ghouls are everywhere! Can you help us capture all the ghosts? The team finding all the ghosts in the fastest time,
      will win a fantastic Raspberry Pi and accessory to take home and create their very own spooky Pi projects!
      Each ghost will need to be captured using their QR code,
      So make sure you’ve got a mobile phone with a QR code reader app installed as well as a data allowance for internet access if you want a chance to win prizes!
      </p>
      <br>
      <p>£5 entry cost per team.
      **Teams should be no larger than 4 people (under 16s must be accompanied by an adult) 
      and everyone will get a spooky Leigh Hackspace goodie bag to take home with them.
    </p>
  </div>

  <br>
  <br>
</div>
