<div class="spooky-header">
  <%= image_tag "easter-banner.jpg", class: 'image-banner' %>
</div>

  <div class="spooky-text" id="center">
    <%= raw render 'shared/static_content/texts/intro' %>
  </div>

  <br>
  <br>
</div>
