<div class="hunter-header"></div>
<div class="hunter-content col-xl-3">
  <h2 class="crypto">The Caesar Wheel</h2>
  <hr />
  <p class="crypto">
    The Caesar Cipher is a substitution Cipher, this means that each letter in the plaintext (original message) is swapped for (or 'shifted') a certain number of places along the alphabet.
    This device (The Caesar wheel) is a simple way to encode and decode secret messages.
  </p>
  <p class="crypto">
    For example, &apos;PRIDE IN LEIGH&apos; shifted 20 places along the wheel would look like this: &apos;JLCXY CH FYCAB&apos;.
    This activity has been shifted a different number of places along the wheel so will differ from the example shown.
  <p>
    For this activity the known plaintext is ALAN TURING - you will need to use these letters to help you orientate your Caesar wheel.  To begin you will need to identify which parts of the messages include the known plaintext.
    Only one of the messages in this activity DOES NOT include the known plaintext ALAN TURING.  You will need to solve this problem when you’ve worked out how many places along the wheel the alphabet is shifted.
  </p>
  <p>
  The Cipher is named after Julius Caesar who is said to have used it to communicate with his generals.
  </p>
</div>