
  <div class="hunter-header"></div>
  <div class="hunter-content col-xl-3">
     <h2>The Royals are everywhere!</h2>
    <p>
      Whilst Celebrating the Jubilee, some of the Royal Family have got a little lost!
    </p>
    <p>
      Can you help us reunite the Royals with their family?<br>
      The team(s) with the highest score will be entered into a prize draw for...
    </p>
    <h2>The Crown!</h2>
    <%= image_tag 'jubilee/the_crown.jpg', class: 'item-image'%>
    
    <p>
      Each Royal will need to be captured using their QR code.
    </p>
    <h2>WATCH OUT!</h2>
    <p>
      There Are Some <i>Jokers</i> around and they do not count towards your score.
      Make sure you&apos;ve got a mobile phone with a QR code reader app installed as well as sufficient data allowance for internet access if you want a chance to win prizes!
    </p>
    <p class="small">
      &pound;5 entry cost per team.**<br>

      **Teams should be no larger than 4 people (under 16s must be accompanied by an adult)
      Each team will get a Royal Leigh Hackspace goodie bag to take home with them.
    </p>
