
<div class="hunter-grid">
  <div class="hunter-header"></div>
  <div class="hunter-content">
    <p>
      These Eggs are everywhere! Can you help us capture all 20 of the Eggs?
      The team finding all 20 of the Eggs in the fastest time,
      will win a fantastic Raspberry Pi and accessory to take home and create their very own budding Pi projects!
    </p>
    <p>
      Each Egg will need to be captured using their QR code.
    </p>
    <h2>WATCH OUT!</h2>
    <p>
      Some of the Eggs are <i>scrambled</i> and will not count towards your score.
      So make sure you&apos;ve got a mobile phone with a QR code reader app installed as well as sufficient data allowance for internet access if you want a chance to win prizes!
    </p>
    <p class="small">
      £5 entry cost per team.
      **Teams should be no larger than 4 people (under 16s must be accompanied by an adult)
      and everyone will get an easter themed Leigh Hackspace goodie bag to take home with them.
    </p>
</div>
