 <h1>Admin</h1>
<div class="xs-col-1 md-col-2">
  <%= link_to 'Add Item', root_url + 'admin', :class => 'btn' %>
  <%= link_to 'Bonus Item', new_bonus_item_path, :class => 'btn'%>
  <%= link_to 'Show Items', items_path, :class => 'btn' %>
  <%= link_to 'Select a winner!', winner_path, :class => 'btn' %>
</div>
