<div class="page-container">
    <h2 class="Hunter-title">Welcome Hunter! </h2>
    <div class="hunter-container-outer">
        <div class="hunter-container-inner">
            <h1><%= @user.username %></h1>
        </div>
    </div>
</div>
