<div class="row align-items-center">
  <div class="machine">
    <div class="wheel">
      <div class="wheel outer red">
        <div class="wheel inner">
          <div class="wheel dial">
            <h2 class="dial-text"><%= render 'shared/buttons/navbar/home' %></h2>
          </div>
        </div>
      </div>
     </div>
    
       <div class="wheel">
      <div class="wheel outer yellow">
        <div class="wheel inner">
          <div class="wheel dial">
            <h2 class="dial-text"><%= render 'shared/buttons/navbar/scores' %></h2>
          </div>
        </div>
      </div>
     </div>
    
    
        <div class="wheel">
      <div class="wheel outer green">
        <div class="wheel inner">
          <div class="wheel dial">
            <h2 class="dial-text">Link</h2>
          </div>
        </div>
      </div>
     </div>
    
    
        <div class="wheel">
      <div class="wheel outer blue">
        <div class="wheel inner">
          <div class="wheel dial">
            <h2 class="dial-text">Link</h2>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>




<div class="row align-items-center" style="margin: 10px 0px;">
    <div class="board container-sm">

      <div class="card">
        <div class="card-section top-left-corner black"><p>A<br>&#9824;</p></div>
        <div class="card-section card-text"></div>
        <div class="card-section bottom-right-corner black"><p>A<br>&#9824;</p></div>
      </div>

      <div class="card">
        <div class="card-section top-left-corner black"><p>A<br>&#9827;</p></div>
        <div class="card-section card-text"></div>
        <div class="card-section bottom-right-corner black"><p>A<br>&#9827;</p></div>
      </div>

      <div class="card">
        <div class="card-section top-left-corner red"><p>A<br>&#9829;</p></div>
        <div class="card-section card-text"><%= render 'shared/buttons/navbar/clues' %></div>
        <div class="card-section bottom-right-corner red"><p>A<br>&#9829;</p></div>
      </div>

      <div class="card">
        <div class="card-section top-left-corner red"><p>A<br>&#9830;</p></div>
        <div class="card-section card-text"><%= render 'shared/buttons/navbar/login' %></div>
        <div class="card-section bottom-right-corner red"><p>A<br>&#9830;</p></div>
      </div>   

  </div>
</div>
