<div class="egg-box">
    <%= link_to "Home", root_path,               class: 'egg-button color-1' %><br>
    <%= link_to "Login", login_path,             class: 'egg-button color-2' %><br>
    <%= link_to "Sign up", register_path,        class: 'egg-button color-3' %><br>
    <%= link_to "Score", scoreboard_path,        class: 'egg-button color-4' %>
</div>

 <hr class="grass">