<div class="nav-bar">
    <%= link_to "Home", root_path,        class: 'grave_button' %>
    <%= link_to "Login", login_path,        class: 'grave_button' %>
    <%= link_to "Sign up", register_path,        class: 'grave_button' %>
    <%= link_to "Score", scoreboard_path,        class: 'grave_button' %>
</div>
