<div class="btn-container">
  <%= render 'shared/buttons/navbar/home' %>
  <%= render 'shared/buttons/navbar/clues' %>
  <%= render 'shared/buttons/navbar/scores' %>
  <%= render 'shared/buttons/navbar/login' %>
</div>