<div class="row align-items-center">
  <div class="machine">
<<<<<<< HEAD
    <div class="wheel">
      <div class="wheel outer red">
        <div class="wheel inner">
          <div class="wheel dial">
            <h2 class="dial-text"><%= render 'shared/buttons/navbar/home' %></h2>
          </div>
        </div>
      </div>
     </div>
       <div class="wheel">
      <div class="wheel outer yellow">
        <div class="wheel inner">
          <div class="wheel dial">
            <h2 class="dial-text"><%= render 'shared/buttons/navbar/scores' %></h2>
          </div>
        </div>
      </div>
     </div>
        <div class="wheel">
      <div class="wheel outer green">
        <div class="wheel inner">
          <div class="wheel dial">
            <h2 class="dial-text">Link</h2>
          </div>
        </div>
      </div>
     </div>
        <div class="wheel">
      <div class="wheel outer blue">
        <div class="wheel inner">
          <div class="wheel dial">
            <h2 class="dial-text">Link</h2>
          </div>
        </div>
      </div>
     </div>
=======

    <div class="col-xs-2"></div>

    <div class="wheel-1 col-xs-2 ">
          <h2 class="dial-text"><%= render 'shared/buttons/navbar/home' %></h2>
    </div>
    
         
    <div class="wheel-2 col-xs-2">
      <h2 class="dial-text"><%= render 'shared/buttons/navbar/scores' %></h2>
    </div>
        
    <div class="wheel-3 col-xs-2 red-ol">

          <h2 class="dial-text">Link</h2>
    </div>

    <div class="wheel col-xs-2 blue-ol">
      <div class="wheel inner">
        <div class="wheel dial black-ol">
          <h2 class="dial-text">Link</h2>
        </div>
      </div>
    </div>
    

    <div class="col-xs-2"></div>

>>>>>>> ac77b4ac (fix issues boting site and start style changes)
  </div>
</div>
