<nav class="egg-box">

    <div class="egg home">
      <%= link_to root_path do %>
        <h3>HOME</h3>
      <% end %>
    </div>

    <div class="egg clues">
        <h3>CLUES</h3>
    </div>

    <div class="egg scoreboard">
      <%= link_to scoreboard_path do %>
        <h3>SCOREBOARD</h3>
      <% end %>
    </div>


    <div class="egg register">
      <%= link_to register_path do %>
        <h4>REGISTER</h4>
      <% end %>
    </div>

    <div class="egg login">
      <%= link_to login_path do %>
        <h4>LOGIN</h4>
      <% end  %>
    </div>

    <div class="egg logout">
        <h4>LOGOUT</h4>
    </div>

</nav>

 <hr class="grass">
