  <% if session[:hunter_session_id].present? %>
    <%= link_to root_path + "hunters/" + session['hunter_uuid'], class: "button" do %>
      <p>hunter</p>
    <% end %>
  <% else %>
    <%= link_to root_path, class: "button" do %>
      <p>home</p>
      <% end %>
  <% end %>
