<h1>Ghosts Admin</h1>
<h2> ghosts are spooky !! </h2>
<!-- TODO   
    add mechanism to upload image but use the uuid returned in the save function
-->
<%= simple_form_for :ghosts do |g| %>
    <%= g.input :title, label: 'Please enter a Ghost name:' %>
    <%= g.input :body, label: 'Please enter Ghost description' %>

    
    <%= g.button :submit, "Add New Ghost"  %>
<% end %>
