<h2 class="ghost-capture-title">Congratulations you found a ghost ! </h2>
    <div class="page-container">
        <div class="ghost-container-outer">
            <div class="ghost-container-inner">
                <h1><%= @ghost.title %></h1>
                <p> <%= @ghost.body %> </p>
                <%= image_tag @ghost.image, class: "ghost-image" %>
                <p>click here to capture me </p>
            </div>
        </div>
</div>
