<h2 class="ghost-capture-title"><%= "Congratulations #{session[:hunter_name]}, you found a ghost !" %> </h2>
	<div class="page-container">
		<div class="ghost-container-outer">
			<div class="ghost-container-inner">
				<h1> oops! </h1>
				<p>I&apos;m not the ghost you're looking for</p>
				<%= image_tag "brucewillis.jpg", class: 'ghost-image' %>
				
				
	</div>
</div>
