<div class="content-container">
  <h1>Clues</h1>
  <hr class="hr-80">
  <table class="clue-table">
    <% @items.each do |item| %>
      <tr>
        <td class="clue-text"><%= item.body %></td>
      </tr>
    <% end %>
  </table>
</div>
