<h2 class="item-capture-title"><%= "Congratulations #{session[:hunter_name]}! You have found a item !" %> </h2>
	<div class="page-container">
		<div class="item-container-outer">
			<div class="item-container-inner">
				<h1> oops! </h1>
				<p>Uh oh... looks like that's a rotten egg</p>
				<%= image_tag "/easter/bad-egg.jpg", class: 'bad-egg' %>
	</div>
</div>
