/*/
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require navbar
 *= require main
 *= require clue
 *= require score
 *= require hunters
 *= require tables
 *= require items

/* Container */

.container-grid {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;

    @media only screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: 5%, 90%, 5%;
        grid-gap: 10px;
    }
}
.span-row-3{grid-row: span 3 / auto;}


/* Body Css  */

.hunt-text {
    outline: 1px blue solid;
}


/* Move to Items scss */

.item-capture-title {
    text-align: center;
    line-height: 1.5;
}

.page-container {
        grid-column: span 2 / auto;
        outline: solid 1px black;
        grid-column: 2 / 5;
        background-color: rgb(150, 167, 166);
        box-shadow: 1px 1px 1px 1px;
        border-radius: 15px 15px 15px 15px;
        padding-left: 15px ;
        margin-top: 25px;

    
    @media only screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-color: #703799;
        grid-gap: 10px;
        text-align: center;
        color: black;
        }
}

.item-container-outer {
    background-color: #bbee09;
    border-radius: 15px 50px;
    padding: 25px 10px;
    box-shadow: 12px 8px #703799;
}

.item_button {
    background-color: rgb(201, 202, 195);
    border: none;
    border-radius: 15px 15px 15px 15px;
    color: rgb(255, 255, 255);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: 4px 2px;
    cursor: pointer;
    min-width: 40px;
    @media only screen and (max-width: 768px) {
        font-size: 0.75rem;
    }
}

.scoreboard {
    text-align: center;
}

table, th,td{
  border: 2px solid;
}