/*/
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require navbar
 *= require main
 *= require score
 *= require hunters
 *= require items

$color-60 : #21d190;
$color-30 : #f6d327;
$color-10 : #f2cf07;
*/
body {
    background-image: repeating-linear-gradient(45deg, #acd4c7 0px, #acd4c7 10px, #e6eed2c5 10px, #e6eed2c5 20px);
    background-attachment:fixed;

    /*
    background-color: rgb(124, 203, 255);;*/
}

.hr-80{
    width: 90%;
    background: linear-gradient(0.25turn, #5f5f5e, #f4f6f7, #5f5f5e  );
    height: 1px;
}

.page-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    grid-gap: 10px;
}

.span-col-5{
    grid-column: span 5 / auto;
    @media only screen and (max-width: 768px) {
    }
}

.span-col-3{
    grid-column: span 3 / auto;
    @media only screen and (max-width: 768px) {
        grid-column: span 5/ auto;
    }
}

.span-row-6{
    grid-row: span 6 / auto;
    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.span-row-5{
    grid-row: span 5 / auto;
    @media only screen and (max-width: 768px) {
    }
}

.page-container {
    display: grid;
    grid-column: 1 / 5;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: rgba(199, 237, 150, 0.562);
    outline: black 1px solid;
    padding: 5%;
    border-radius: 2px 2px 2px 2px;


    @media only screen and (max-width: 768px) {
        display: grid;
        grid-column: span 1 / 5 ;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
        padding: 5%;
        border-radius: 10px 10px 10px 10px;
    }
}

.content-container {
    background-color: #a5d4d1;
    margin: 20px;
    box-shadow: 1px 1px 1px 1px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;

    @media only screen and (max-width: 768px) {
        border-radius: 10px 10px 10px 10px;
        padding: 10px;
        margin: 10px;
    
    }
}

.content-container h1,h2,h3,p{
    text-align: center;
}

td {
    padding: 10px
}

.item-table{
    background-color: antiquewhite;
}

.item-image{
    width: 80%;
}

.clues-table{
    width: 100%;
    outline: black 1px;
}

.clue-text {
    text-align: center;
    font-size: 0.75rem;
    border: black 1px;
    background-color: hsla(174, 16%, 49%, 0.411);
    width: 800px;

        @media only screen and (max-width: 768px) {
        width: 300px;
    }
}

.clue-text-captured {
    background-color: #4a8a85;
}

table, td, tr {
}

