/*/
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require navbar
 *= require main
 *= require score
 *= require hunters
 *= require items
 *= require captures

$color-60 : #21d190;
$color-30 : #f6d327;
$color-10 : #f2cf07;
*/



.none {
    display: none;
}

body {
    background-image: radial-gradient( rgb(3, 160, 3), rgb(1, 112, 10));
}
.hr-80 {
    padding: 0px 20px;
    width: 90%;
    background: linear-gradient(0.25turn, #5f5f5e, #f4f6f7, #5f5f5e  );
    height: 1px;
}

.page-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.span-col-5 {
    grid-column: span 5 / auto;
    @media only screen and (max-width: 768px) {
    }
}

.span-col-3 {
    grid-column: span 3 / auto;
    @media only screen and (max-width: 768px) {
        grid-column: span 5/ auto;
    }
}

.span-row-6 {
    grid-row: span 6 / auto;
    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.span-row-5 {
    grid-row: span 5 / auto;
    @media only screen and (max-width: 768px) {
    }
}

.ctr {
    margin-left: 20%;
    @media only screen and (max-width: 768px) {
        margin: 0;
    }
}



.page-container {
    display: grid;
    grid-column: 1 / 5;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: rgba(199, 237, 150, 0.562);
    padding: 5%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;

    @media only screen and (max-width: 768px) {
        display: grid;
        grid-column: span 1 / 5 ;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
        padding: 5%;
        -webkit-border-radius: 10px ;
        -moz-border-radius: 10px ;
        -khtml-border-radius: 10px ;
        border-radius: 10px ;
    }
}

.content-container {
    background-color: #8bbce8;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -khtml-border-radius: 10px ;
    border-radius: 10px ;
    border: 1.5px solid brown;
    margin: 20px;
    box-shadow: 1px 1px 1px 1px;
    padding: 10px;


    @media only screen and (max-width: 768px) {
        padding: 10px;
        margin: 10px;
    }
}

.content-container h1,h2,h3,p{
    text-align: center;
}

tr {
    padding: 10px;
}

.item-table{
    background-color: antiquewhite;
    outline: 1px solid black;
    padding: 5px 0px;
}

.item-image{
    width: 80%;
    margin: 10px 10%;
    border-radius: 15px;
}

.clue-table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;

    tbody {
        margin: 15px 0px;
    }

    tr {
        display: table-row;
    }

    td {outline: 1px solid black;
    }
}

.clue-text {
    text-align: center;
    font-size: 0.75rem;
    border: black 1px;
    background-color: hsla(174, 16%, 49%, 0.411);
    width: 800px;

        @media only screen and (max-width: 768px) {
        width: 300px;

    }
}

.clue-text-captured {
    background-color: #4a8a85;
}

table, td, tr {
    padding: 2px;
    margin: 5px 0px;
    margin: auto;
}

.alert-box {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #fff;
  top: 0;
  padding: 10px;
  z-index: 1;
  border-bottom: 1px solid;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.alert-box.fade{
    opacity: 0;
}
