@font-face {
  font-family: 'adler';
  src: url(asset_path('Adler.ttf'));
}

.hunter-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  height: 100%;
  padding-top: 10px;

  @media only screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1 / 4;
  }
}

.hunter-header {
  background-color: #d85e5e;
  height: auto;
  box-shadow: 1px 1px 1px 1px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  background: url(asset_path("crypto/banner.jpg"));
  border: 1.5px solid brown;
  background-size: cover;
  height: 450px;
  margin: 10px 0px;
  width: auto;
  background-repeat: no-repeat;

  @media only screen and (max-width: 768px) {
    background-size: cover;
    height: 170px;
    width: 97%;
  }
}

.hunter-content {
  background: url(asset_path("crypto/crinkled_paper.webp"));
  border: 1.5px solid brown;
  padding: 15px 15px;
  color: black;
  width: auto;
  margin: 10px 0px;
  p,h2 {
    font-family: adler;
  }



  @media only screen and (max-width: 768px) {
    display: grid;
    background-size: cover;
    height: auto;
    width: 97%;
  }
}
