.machine {
  outline: 5px solid brown;
  background-color: black;
  display: flex;
  text-align: center;
}

.wheel {
  height: 150px;
  width: 150px;
  padding: 5px 5px 5px 5px;
  background-color: grey;
  border-radius: 50% 50% 50% 50%;
}

.outer {
  height: 90%;
  width: 90%;
  margin: 2px 2px 2px 2px;
}

.inner {
  padding: 5px;
  height: 90%;
  width: 90%;
  background-color: brown;
}

.dial {
  height: 80%;
  width: 80%;
  margin-left: 5%;
  margin-top: 5%;
  background-color: white; 
} 

.dial-text {
  padding-top: 10px;    
  }

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
