
.score-header {
    grid-column: span 4 / auto;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0px 0px 50px 50px;
    padding: 10px 0px;
    margin: 10px 0px;
}

.score-table{
    border-collapse: separate;
    border-spacing: 0 5px;
    width:100%;
    padding: 0 10px 20px 10px;
}

.score-header h1 {
    font-size: 2rem;
}

.team-name {
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(138, 165, 156);
    border-radius: 7.5px 0px 0px 7.5px;
}

.team-score {
    text-align: center;
    text-transform: uppercase;
    background-color: #e6eed2c5;
    border-radius: 0px 7.5px 7.5px 0px;
}


  .card-back-inner {
    transform: rotate(90deg);
    margin-left: 40%;
    box-shadow: 2px 2px 2px 2px;
    background:url(asset_path("jubilee/card-back.png"));
    background-color: grey;
    background-size:cover;

    }
  
  
    
  .ltr-text-clue{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    stroke: 1px white;
    transform: rotate(-90deg);
    translate: 5px 45px;
    
      @media only screen and (max-width: 768px) {
        font-size: 1.52rem;
        transform: rotate(-90deg);
        translate: 16px 32px;
      }
    }