
.score-header {
    grid-column: span 4 / auto;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(190, 126, 250);
    outline: solid 1px black;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 15px 15px 15px 15px;
    padding: 10px 0px;
    margin: 10px 0px;
}

.score-header h1 {
    font-size: 2rem;
}

.team-name {
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(172, 212, 199);
    border-radius: 7.5px 0px 0px 7.5px;
}

.team-score {
    text-align: center;
    text-transform: uppercase;
    background-color: #e6eed1c5;
    border-radius: 0px 7.5px 7.5px 0px;
}